### Proceso de ETL y EDA de los datos de ACPM - MAQUIGOLDEN SAS

**1-Importamos librerias necesarias**

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df_acpm= pd.read_excel("C:/Users/nany_/Escritorio/PROYECTO MAQUIGOLDEN/ACPM_1.xlsx")
pd.set_option('display.max_columns', None)

In [3]:
df_acpm

,Fecha,Estacion_de_Servicio,Producto,Vehiculo,Equipo/Placa,Cantidad_Galones,Costo_Total_ACPM,Actividad_Equipo
0,2023-01-12,EDS TORRASA,CORRIENTE,NISSAN,DMM 139,13.635,117247.365,MINERIA
1,2023-01-12,EDS TORRASA,ACPM,VOLQUETA,JSL 245,41.275,294249.475,MINERIA
2,2023-01-12,EDS TORRASA,ACPM,VOLQUETA,UFZ 553,92.002,655882.258,MINERIA
3,2023-01-13,EDS TORRASA,ACPM,VOLQUETA,XMD 367,85.502,609543.758,MINERIA
4,2023-01-13,EDS TORRASA,ACPM,VOLQUETA,XVV 775,81.486,580913.694,MINERIA
...,...,...,...,...,...,...,...,...
427,2023-04-27,EDS EL REFUGIO,ACPM,MAQUINARIA,MAQUINARIA,500.000,4719000.000,MINERIA
428,2023-04-27,EDS EL REFUGIO,ACPM,MAQUINARIA,MAQUINARIA,500.000,4719000.000,MINERIA
429,2023-04-27,EDS EL REFUGIO,ACPM,MAQUINARIA,MAQUINARIA,500.000,4719000.000,MINERIA
430,2023-04-28,EDS EL REFUGIO,ACPM,MAQUINARIA,EQUIPO 07,60.002,566298.876,RENTA
431,2023-04-28,EDS EL REFUGIO,CORRIENTE,NISSAN,DMM 139,11.403,132685.308,MINERIA

In [4]:
df_acpm = pd.DataFrame(df_acpm)
df_acpm.to_csv('df_acpm.csv') 
print("Dataset transformado exportado")

Dataset transformado exportado

**Carga Incremental**

1-Cargue los nuevos datos:

In [ ]:
'''limpielos primero en excel, deben tener solo las columnas: 'Fecha', 'Estacion_de_Servicio', 'Producto', 'Vehiculo', 'Equipo/Placa',
       'Cantidad_Galones', 'Costo_Total_ACPM', 'Actividad_Equipo', 'Mes', 'Año'
       '''
       
nuevos_datos = pd.read_csv('ruta_de_los_nuevos_datos.csv')

2-Fusionar con el anterior dataframe

In [ ]:
df_actualizado = pd.concat([df_acpm, nuevos_datos])

4-Actualizar el dataframe existente

In [ ]:
df_acpm = df_actualizado

5-Exporte y guardar

In [ ]:
## Exportamos archivo completo y lo cambiamos en el indicador de acpm

df_acpm = pd.DataFrame(df_acpm)
df_acpm.to_csv('df_acpm_fecha.csv') #dia/mes/año
print("Dataset transformado exportado")